* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.active {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-color: #343a40;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.visible {
    height: 70%;
    width: 75%;
    background-size: 133% 143%;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
}

.btn:focus {
    outline: none;
}

#prev {
    left: 7%;
}

#next {
    right: 7%;
}